/* General Styles */
* {
  font-size: 1.05rem
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.banner {
  background: #0c3080;
}

.banner__content {
  padding: 10px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #0c3080;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

span {
  cursor: pointer;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

section {
  margin-bottom: 20px;
}

h2 {
  margin-top: 0;
  font-size: 3em;
  color: #ffffff;
}

h4 {
  font-size: 2.5em;
  font-family: Copperplate, sans-serif;
  border: 2px solid gray;
  border-radius: 6px;
}

.navbar {
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
}

.nav-link {
  color: #007bff;
}

/* Responsive Styles */

@media only screen and (max-width: 767px) {


  /* CSS styles for medium screens (Phones) */

  .search-container {
    display: flex;
    margin-bottom: 20px;
    padding-left: 20%;
    padding-right: 20%;


  }

  .form-control {
    flex: 1;
    /*padding: 10px;*/
    border: 1px solid #ddd;
    border-radius: 5px 0 0 5px;
    margin-right: -1px;
  }

  .btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .btn-primary {

    background-color: #0c3080;
    border: 1px solid #ffffff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }

}

@media screen and (min-width: 601px) and (max-width: 1024px) {
  /* CSS styles for medium screens (tablets) */
  .search-container {
    display: flex;
    margin-bottom: 20px;
    padding-left: 250px;
    padding-right: 250px;
  }

  .form-control {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px 0 0 5px;
    margin-right: -1px;
  }

  .btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .btn-primary {
    padding: 10px 20px;
    background-color: #0c3080;
    border: 1px solid #ffffff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }

  .btn-primary:hover {
    background-color: #0c3080;
  }

}

@media screen and (min-width: 1025px){
  /* CSS styles for medium screens (desktop) */
  .search-container {
    display: flex;
    margin-bottom: 20px;
    padding-left: 250px;
    padding-right: 250px;
  }

  .form-control {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px 0 0 5px;
    margin-right: -1px;
  }

  .btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .btn-primary {
    padding: 10px 20px;
    background-color: #0c3080;
    border: 1px solid #ffffff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }

  .btn-primary:hover {
    background-color: #0c3080;
  }
}

/* Map Section Styles */

#map {
  height: 400px;
  border: 1px solid #ddd;
  padding: 10px;
}
/* Center elements horizontally and vertically */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Styles for headers on Time Tables */

.routeDesignation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3px;
  padding: 5px;
  font-size: 1.3em;
}

.trainDesignation {
  color: darkred;
}

.busDesignation {
  color: darkblue;
}

.timetable {
  border-top: 3px solid gray;
}

/* Map Section Styles */


.btn-icon {
  background-color: transparent;
  border: none;
  padding: 1px;
  margin: 6px;
  font-size: 50px;
  color: #4e6ca1;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}
.btn-bus {
  width: 30px;
  height: 30px;
  font-size: 20px;
}

.btn-train {
  width: 30px;
  height: 30px;
  font-size: 20px;
}



/* Delay Percentage Section Styles */

.alert {
  background-color: #f8d7da;
  color: #721c24;
  padding: 15px;
  border-radius: 5px;
}

.alert span {
  font-weight: bold;
}

.alert-danger {
  background-color: #f8d7da;
  color: #721c24;
}

/* Arrival Time Section Styles */

p {
  margin: 0;

}

#arrival-time {
  font-weight: bold;
}

.refresh-button {
  margin: 2px auto;
  display: block;
  font-size: 0.9em;
  font-family: Copperplate, sans-serif;
  background-color: white;
  border-radius: 10px;
}

.refresh-button:active {
  background-color: lightgray;
}

/* Table Styles */
.table {
  width: 100%;
  max-width: 800px;
  margin: 5px auto;
  text-align: center;
  padding: 5px
}

.table th,
.table td {
  padding: 10px;
}

.table thead th {

  font-weight: bold;
  text-align: center;
}

.table tbody + tbody {
  border-top: 2px solid #dee2e6;
}

.table-sm th,
.table-sm td {
  padding: 0.3rem;
}

.table-bordered {
  border: 1px solid #dee2e6;
}

.table-bordered th,
.table-bordered td {
  border: 1px solid #dee2e6;
}

.table-hover tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.075);
}

.table-primary,
.table-primary > th,
.table-primary > td {
  background-color: #007bff;
  color: #fff;
}

.table-primary th,
.table-primary td,
.table-primary thead th,
.table-primary tbody + tbody {
  border-color: #007bff;
}

.table-hover .table-primary:hover {
  background-color: #0069d9;
}

.table-hover .table-primary:hover > td,
.table-hover .table-primary:hover > th {
  background-color: #0062cc;
  color: #fff;
}

.table-secondary,
.table-secondary > th,
.table-secondary > td {
  background-color: #6c757d;
  color: #fff;
}

.table-secondary th,
.table-secondary td,
.table-secondary thead th,
.table-secondary tbody + tbody {
  border-color: #6c757d;
}

.table-hover .table-secondary:hover {
  background-color: #545b62;
}

.table-hover .table-secondary:hover > td,
.table-hover .table-secondary:hover > th {
  background-color: #4e555b;
  color: #fff;
}

.table-success,
.table-success > th,
.table-success > td {
  background-color: #28a745;
  color: #fff;
}

.table-success th,
.table-success td,
.table-success thead th,
.table-success tbody + tbody {
  border-color: #28a745;
}

.table-hover .table-success:hover {
  background-color: #218838;
}

.table-hover .table-success:hover > td,
.table-hover .table-success:hover > th {
  background-color: #1e7e34;
  color: #fff;
}

.table-info,
.table-info > th,
.table-info > td {
  background-color: #17a2b8;
  color: #fff;
}

.table-info th,
.table-info td,
.table-info thead th,
.table-info tbody + tbody {
  border-color: #17a2b8;
}

.table-hover .table-info:hover {
  background-color: #138496;
}

.table-hover .table-info:hover > td,
.table-hover .table-info:hover > th {
  background-color: #117a8b;
  color: #fff;
}

.table-warning,
.table-warning > th,
.table-warning > td {
  background-color: #ffc107;
  color: #fff;
}

.table-warning th,
.table-warning td,
.table-warning thead th,
.table-warning tbody + tbody {
  border-color: #ffc107;
}

.table-hover .table-warning:hover {
  background-color: #e0a800;
}

.table-hover .table-warning:hover > td

